* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px;
    width: 100%;
    position: absolute;
}

h2 {
    font-size: 28px;
    font-weight: 700;
    user-select: none;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-left: 20px;
    font-weight: 600;
    padding: 6px 15px;
    position: relative;
}

nav a:hover {
    text-decoration: underline;
}